.header {
    height: calc(100% - 60px);
    background-color: #FFFFFF;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Header News */

.headerNews_Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.headerNews_Row .headerNews_Column {
    flex-direction: column;
    flex-basis: 25%;
    padding: 1%;
}

.headerNews_Row .headerNews_Column .headerNews_Column_Img img {
    width: 100%;
    height: auto;
    border-top: 5px dashed #8F00FF;
    border-radius: 24px;
}

.headerNews_Row .headerNews_Column .headerNews_Column_Text {
    max-width: 100%;
    padding: 4px 12px 0 12px;
    border-top: 0;
    margin-top: -4px;
    font-size: 18px;
}

.headerNews_Row .headerNews_Column .headerNews_Column_Text a {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    font-style: italic;
    color: #8F00FF;
    font-weight: 500;
    text-decoration: none;
}

.headerNews_Row .headerNews_Column:hover .headerNews_Column_Text a {
    text-decoration: underline;
}

.headerNews_Row .headerNews_Column .headerNews_Column_Text p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
    font-size: 18px;
}

@media (max-width: 1000px) {
    .headerNews_Row .headerNews_Column {
        flex-basis: 50%;
    }
}

@media (max-width: 600px) {
    .headerNews_Row .headerNews_Column {
        flex-basis: 100%;
    }
}


/* /Header News */