* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a.logo {
  font-size: 40px;
  font-weight: 600;
  color: #222222;
  margin-left: 16px;
  text-decoration: none;
}

nav .desktopMenu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

nav .desktopMenu li {
  padding: 0px 24px;
  cursor: pointer;
  line-height: 60px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  list-style: none;
}

nav .desktopMenu li:hover {
  color: #FFFFFF;
}

nav .desktopMenu li a {
  background: -webkit-gradient(linear, left top, left bottom, from(orange), to(orange));
  background: linear-gradient(to bottom, orange 0%, orange 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #222222;
  text-decoration: none;
  -webkit-transition: background-size .2s;
  transition: background-size .2s;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 5px;
  padding: 8px;
}

nav .desktopMenu li:hover a {
  background-size: 4px 50px;
  color: #FFFFFF;
}

@media (max-width: 1100px) {
  nav .desktopMenu {
    display: none;
  }
}

@media (max-width: 600px) {
  nav a.logo {
    font-size: 24px;
  }
}

.hamburger {
  position: absolute;
  right: 10px;
  top: 16px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.hamburger .bar2 {
  height: 4px;
  background: #222222;
  margin: 5px auto;
}

.hamburger .bar3 {
  height: 4px;
  background: #222222;
  margin: 14px auto;
}

.hamburger.active .bar1 {
  height: 4px;
  background: #222222;
  margin: 6px auto;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: rotate(45deg) translateX(2px) translateY(4px);
          transform: rotate(45deg) translateX(2px) translateY(4px);
}

.hamburger.active .bar2 {
  opacity: 0;
}

.hamburger.active .bar3 {
  height: 4px;
  background: #222222;
  margin: 6px auto;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: rotate(-45deg) translateX(10px) translateY(-12px);
          transform: rotate(-45deg) translateX(10px) translateY(-12px);
}

@media (max-width: 1100px) {
  .hamburger {
    visibility: visible;
    opacity: 1;
  }
}

.mobileMenu {
  z-index: 1;
  position: absolute;
  top: 0;
  background: #ddd;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  display: table;
}

.mobileMenu .mobileMenu_li {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobileMenu .mobileMenu_li li {
  display: block;
  width: 100vw;
  text-align: center;
  padding: 20px 0;
  text-align: center;
  font-size: 35px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mobileMenu .mobileMenu_li li:hover {
  color: #FFFFFF;
  background: orange;
}

.mobileMenu .mobileMenu_li li:hover a {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #FFFFFF;
}

.mobileMenu .mobileMenu_li li a {
  color: #222222;
  text-decoration: none;
}

.mobileMenu.active {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 1101px) {
  .mobileMenu {
    visibility: hidden !important;
  }
}

.header {
  height: calc(100% - 60px);
  background-color: #FFFFFF;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header News */
.headerNews_Row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.headerNews_Row .headerNews_Column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 1%;
}

.headerNews_Row .headerNews_Column .headerNews_Column_Img img {
  width: 100%;
  height: auto;
}

.headerNews_Row .headerNews_Column .headerNews_Column_Text {
  max-width: 100%;
  padding: 4px 12px 0 12px;
  border: 2px solid orange;
  border-top: 0;
  margin-top: -4px;
  font-size: 18px;
}

.headerNews_Row .headerNews_Column .headerNews_Column_Text p {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;
  font-size: 18px;
}

.headerNews_Row .headerNews_Column:hover .headerNews_Column_Text {
  background-color: orange;
  color: #FFFFFF;
}

@media (max-width: 1000px) {
  .headerNews_Row .headerNews_Column {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 600px) {
  .headerNews_Row .headerNews_Column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

/* /Header News */
footer {
  text-align: center;
}

.footerSection {
  background: none;
  background-color: #222222;
  color: #FFFFFF;
}

.footerCopyright {
  padding: 16px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 18px;
}
/*# sourceMappingURL=main.css.map */